:root {
    --accent-color: rgb(237, 48, 32);
    --main-page-color: #111;
    --secondary-text-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.no-scroll {
    overflow: hidden;
}



/*=====================  HEADER   ===========================*/


.header {
    /* height: 100px;
    width: 100%; */
}

.header-container{
    background-color: rgb(227, 150, 24);
    padding: 50px 0;
    border-radius: 15px;
    /* margin: 0 auto; */
    text-align: center;
}

.header-nav {
    margin: 0 auto;
}

.header-logo {
    color: var(--main-page-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.03em;
}

.header-logo-accent {
    font-style: italic;
}

.header-nav-list {
    margin-bottom: 30px;
}

.header-nav-item {}

.header-nav-link {
    color: var(--main-page-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
        /* 16/14 */
    letter-spacing: -0.02em;
    transition: color 300ms ease;
}

.header-nav-link:is(:hover, :focus){
    color: var(--secondary-text-color);
}

.header-socials {
    display: flex;
    gap: 15px;
    max-width: 80px;
    margin: 0 auto;
}

.header-socials-item {
    height: 24px;
    
}

.header-socials-link {
    display: block;
    color: var(--main-page-color);
    transition: color 300ms ease;
}

.header-socials-link:is(:hover, :focus){
    color: var(--secondary-text-color);
}

.header-social-icon {
    fill: currentColor;
}